@model Lemoo_pos.Models.ViewModels.RecoverPasswordViewModel

@{ Layout = "_LayoutAuth"; }
<div class="card auth-card">
    <div class="card-body p-0">
        <div class="d-flex align-items-center auth-content">
            <div class="col-lg-7 align-self-center">
                <div class="p-3">
                    <h2 class="mb-2">Lấy lại mật khẩu</h2>
                    <p>
                        Nhập địa chỉ email bạn đã đăng ký tài khoản, chúng tôi sẽ gửi email hướng dẫn lấy lại mật khẩu
                    </p>

                    @if (@ViewData["Error_message"] != null)
                    {
                        <div class="alert alert-danger">
                            @ViewData["Error_message"]
                        </div>
                    }

                    @if (@ViewData["Success_message"] != null)
                    {
                        <div class="alert alert-success">
                            @ViewData["Success_message"]
                        </div>
                    }


                    <form asp-action="RecoverPassword" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="floating-label form-group">
                                    <input
                                        class="floating-input form-control"
                                        type="email"
                                        placeholder=" "
                                        asp-for="Email" />
                                    <label>Email</label>
                                </div>
                                <span asp-validation-for="Email" class="text-danger small"></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Reset
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 content-right">
                <img
                    src=" /images/login/01.png"
                    class="img-fluid image-right"
                    alt=""
                />
            </div>
        </div>
    </div>
</div>
