@{
    Layout = "_LayoutHome";
}

<div class="container-fluid">

    <div class ="card">
        <div class="card-body p-3">
            <h4 class="card-title">
                Thiết lập cửa hàng
            </h4>
            <div class ="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card border-primary">
                        <div class="card-body p-3">
                            <h5 class="card-title text-primary">Thông tin cửa hàng</h5>
                            <p class="">Quản lý thông tin liên hệ và địa chỉ cửa hàng.</p>
                        </div>
                    </div>
                </div>

                <a href = "/branches" class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card border-primary">
                        <div class="card-body p-3">
                            <h5 class="card-title text-primary">Quản lý chi nhánh</h5>
                            <p class="">Quản lý chi nhánh của cửa hàng.</p>
                        </div>
                    </div>
                </a>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card border-primary">
                        <div class="card-body p-3 ">
                            <h5 class="card-title text-primary">Nhân viên và phân quyền</h5>
                            <p class="">Quản lý Phân quyền tài khoản nhân viên.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card border-primary">
                        <div class="card-body p-3">
                            <h5 class="card-title text-primary">Kho và sản phẩm</h5>
                            <p class="">Thiết lập và quản lý thông tin về sản phẩm.</p>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>

    </div>

    <div class="card">
        <div class="card-body p-3">
            <h4 class="card-title">
                Thiết lập bán hàng
            </h4>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card border-primary">
                        <div class="card-body p-3">
                            <h5 class="card-title text-primary">Cấu hình bán hàng</h5>
                            <p class="">Thiết lập các cấu hình áp dụng khi bán hàng.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card border-primary">
                        <div class="card-body p-3 ">
                            <h5 class="card-title text-primary">Nguồn bán hàng</h5>
                            <p class="">Thêm và quản lý nguồn tạo đơn hàng.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card border-primary">
                        <div class="card-body p-3">
                            <h5 class="card-title text-primary">Kênh bán hàng</h5>
                            <p class="">Quản lý các kênh bạn sử dụng để bán hàng.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="card">
        <div class="card-body p-3">
            <h4 class="card-title">
                Nhật ký
            </h4>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card border-primary">
                        <div class="card-body p-3">
                            <h5 class="card-title text-primary">Nhật ký hoạt động</h5>
                            <p class="">Quản lý nhật ký hoạt động của cửa hàng.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card border-primary">
                        <div class="card-body p-3">
                            <h5 class="card-title text-primary">Nhật ký kho</h5>
                            <p class="">Quản lý nhật ký kho của cửa hàng.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>