@model Lemoo_pos.Models.ViewModels.BranchSelectViewModel

<div class="form-group">
    <label>Thông tin chi nhánh</label>
    <select size="1" id="branches" class="form-control selectpicker " data-live-search="true" title="Chọn chi nhánh" required>
        @foreach (var branch in Model.Branches)
        {
            <option value="@branch.Id">@branch.Name</option>
        }
    </select>
    <input type="hidden" id="hiddenInputForValidation" required>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const selectPicker = document.getElementById('branches');
        const hiddenInput = document.getElementById('hiddenInputForValidation');

        @if (Model.AllowMultiSelect)
        {
            <text>
            selectPicker.multiple = true;
        </text>
        }else
        {

        <text>
                selectPicker.multiple =false;
        </text>
        }

        // Khi giá trị của select thay đổi
        selectPicker.addEventListener('change', function () {
            if (selectPicker.value && selectPicker.selectedOptions.length > 0) {
                hiddenInput.value = 'valid'; // Gán giá trị nếu có chọn
            } else {
                hiddenInput.value = ''; // Xóa giá trị nếu không chọn
            }
        });

        // Chọn mặc định option đầu tiên khi trang tải
        if (!selectPicker.value) {
            const firstOption = selectPicker.querySelector('option:first-child');
            if (firstOption) {
                firstOption.selected = true;
            }
            // Cập nhật giá trị hidden input
            hiddenInput.value = 'valid';
        }
    });
</script>